<?xml version="1.0"?>
<config>
  <modules>
    <FlintDigital_AddAllowedBlockType>
      <version>1.0.0</version>
    </FlintDigital_AddAllowedBlockType>
  </modules>
  <global>
    <resources>
        <addallowedblocktype_setup>
            <setup>
                <module>FlintDigital_AddAllowedBlockType</module>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </addallowedblocktype_setup>
    </resources>
  </global>
</config>